<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/jboss-cxf.xml</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<display-name>CXF Servlet</display-name>
		<servlet-class>
			org.apache.cxf.transport.servlet.CXFServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>

<!-- The upper part of the web.xml defines the so-called context listener 
	which will get a notification when we web-application is started or stopped. 
	Ideal for configuration purposes. In this case we're using a Spring Context 
	Listener that loads the configuration file beans.xml and initializes the 
	beans defined in it. The second part declares the CXF Servlet that will handle 
	the requests. -->